<h3>syrup works!</h3>
<div class="container bg-light">
    <div class="row">
      <div class="col-sm">
       Medicine Name
      </div>
      <div class="col-sm">
        Frequency
      </div>
      <div class="col-sm">
       Duration
      </div>
    </div>
  </div>
  <!-- <table border="1" style="width:100%">

    <tr *ngFor="let el of capsule; let i = index">
      <td><input type="text" placeholder="name" [(ngModel)] = "capsule[i].name"></td>
      <td><input type="number" placeholder="dose" [(ngModel)] = "capsule[i].dose"></td>
      <td><input type="text" placeholder="description" [(ngModel)] = "capsule[i].description"></td>
      <td ><button (click)="removeData(i)">--</button></td>
    </tr>
  
  </table>

  <button (click)="addData()">++</button>
  <button (click)="submit()">Done</button> -->
