<!-- <div class="container mt-4">
    <h2>Medication</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 ">
            <ul class="">
                <li>
                    <h3 routerLink="capisule" routerLinkActive="active">Capsule</h3>
                    
                </li>
                <li>
                    <h3 routerLink="syrup">Syrup</h3>
                </li>
                <li>
                    <h3 routerLink="tablet">Tablets</h3>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            
           
        </div>
    </div>
</div> -->
<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>